<% provide(:title, 'Ourprojects') %>


<h1 style="background-color:lightskyblue;">OurProjects</h1>
<!--<h1>OurProjects</h1>-->


<div >
<div id="content1">

  <div style="width: 20%; float:left">
    <h3><b>Evee</b></h3>
    <%= link_to image_tag("Evee-Profile.png", alt: "Evee"), 'http://rubyonrails.org/' %>
  </div>
  <div style="width: 75%; float:right">
   <br><br> <h1>An app to discover events based on your mood</h1>
    <p>Humans feel emotions. You feel social, artistic, laid back, generous or active and then you want to satisfy that emotion.
      You feel it first and then you take action.
      <%= link_to image_tag("text_evee.png", alt: "text"), 'http://rubyonrails.org/' %>
      recognizes the importance of your emotions and helps you find events based on your emotion and location.
      Now, how cool is that?</p>
    <h1>Give it a try, it’s free!</h1>
    <p>Works great on all Android/IOS devices<br>
      Great selection of events<br>
      Accurate mapping of events and emotions<br>
      Built in directions to events<br>
      Ability to Favorite and Archive interesting events<br>
    <div style="width: 50%; float:left"><%= link_to image_tag("apple-istore.png", alt: "Apple"), 'https://itunes.apple.com/in/app/evee/id838951170?mt=8' %></div>
    <div style="width: 50%; float:right"><%= link_to image_tag("playstore.png", alt: "Apple" ), 'https://play.google.com/store/apps/details?id=com.alacrity.evee' %></div>
 </div>
 </div>



<div id="content2">
  <div style="width: 20%; float:left">
    <h4><b>StockCharts</b></h4>
    <%= link_to image_tag("stockchats-profile.png", alt: "StockCharts"), 'http://rubyonrails.org/' %>
  </div>
  <div style="width: 75%; float:right">

</div>
</div>



  <div id="content4">
    <div style="width: 20%; float:left">
      <h6><b>AlekhyaHomes</b></h6>
      <%= link_to image_tag("alekhyaHomes.png", alt: "Alekhya"), 'http://rubyonrails.org/' %>
    </div>
    <div style="width: 75%; float:right">
      </div>
  </div>
</div>

