<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "kvana", home_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", home_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "ContactUs", contact_path %></li>
          <li><%= link_to "OurProjects", ourprojects_path %></li>
          <li><%= link_to "Privacy&Terms", privacyandterms_path %></li>
        </ul>
      </nav>
    </div>
  </div>
  <!--<nav><%= link_to image_tag("kvana_logo.png", alt: "Kvana"), 'http://rubyonrails.org/' %></nav>-->
</header>
<div class="container">
  <%= yield %>
    </div>
